# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\localhost\domains\loc.asa-istehsal.az\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
